@for(game of databaseGames; track game.name){
<li [class]="game.isVisible ? 'visible' : 'invisible'">
    <app-map class="map-container" [grid]="loadedTiles[databaseGames.indexOf(game)]"></app-map>
    <div class="game_info">
        <div class="text_info">
            <h3>{{ game.name }}</h3>
            <div class="infos">
                <p>Taille: {{ game.size }} x {{ game.size }}</p>
                <p>Mode: {{ game.mode }}</p>
                <p>Dernière modification: {{ game.updatedAt | date: 'short' }}</p>
            </div>
        </div>
        <div class="description">
            <p>{{ game.description }}</p>
        </div>
        <div class="action_icons">
            <span class="material-icons" (click)="deleteGame(game._id)" title="Supprimer">delete</span>
            <span class="material-icons" (click)="editGame(game)" title="Éditer">edit</span>
            <span class="material-icons" title="Exporter" (click)="downloadGameAsJson(game)">file_download</span>
            <span class="material-icons" (click)="toggleVisibility(game)" title="Changer visibilité">
                {{ game.isVisible ? 'visibility' : 'visibility_off' }}
            </span>
        </div>
    </div>
</li>
}
