@for(game of GetGames(); track game.name){
<li [class]="game.isVisible ? 'visible' : 'invisible'">
    <img [src]="game.imageUrl" />
    <div class="game_info">
        <h3>{{ game.name }}</h3>
        <div class="info_preamble">
            <p>Taille: {{ game.size }} tuiles</p>
            <p>Mode: {{ game.mode }}</p>
            <p>Dernière modification: {{ game.lastModificationDate }}</p>
        </div>
        <div class="action_icons">
            <span class="material-icons" (click)="DeleteGame(game)" title="Supprimer">delete</span>
            <span class="material-icons" routerLink="/main-page" title="Éditer">edit</span>
            <span class="material-icons" title="Exporter">file_download</span>
            <span class="material-icons" (click)="ToggleVisibity(game)" title="Changer visibilité">
                {{ game.isVisible ? 'visibility' : 'visibility_off' }}
            </span>
        </div>
    </div>
</li>
}
