@import 'src/_variables.scss';
#side-menu-right {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    width: 300px;
    height: 100vh;
    background-color: $primary-dark;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: darken($primary-dark, 10%) lighten($primary-dark, 3%);
    padding-top: 70px;
    #timer-container {
        display: flex;
        justify-content: center;
    }
    #item-list-container {
        margin-top: 20px;
        height: auto;
        width: 300px;
        app-item-list-container {
            justify-self: center;
        }
    }
    #button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5px;
        margin-top: 3vh;
        .action-button {
            margin: 5px;
            background-color: $secondary;
            border-radius: 2px;
            font-size: 12px;
            padding: 4px;
        }
        .player-button {
            margin: 5px;
            background-color: $primary-light;
            border-radius: 2px;
            font-size: 12px;
            padding: 4px;
        }
    }
    #chat-container {
        height: 300px;
    }
}
