<div class="table-container">
    <table>
        <colgroup>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />
        </colgroup>
        <thead>
            <tr>
                <th>Nom</th>
                <th>V</th>
                <th>D</th>
            </tr>
        </thead>
        <tbody>
            @for (player of players; track player.socketId) {
            <tr [ngClass]="{ CurrentPlayer: isTurn(player) }" [class.absent]="player.isAbsent">
                <td><img src="{{ player.avatar.headImage }}" />{{ player.name }}</td>
                <td>{{ player.fightWins }}</td>
                <td>{{ player.fightLoses }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
