<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="create-game.component.scss" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-title">Créer une nouvelle partie - League of Versions</div>
            <div class="navbar-modes">
                <div class="mode-option">
                    <img
                        src="https://www.clipartmax.com/png/middle/326-3260345_minecraft-swords-crossed-png-minecraft-diamond-sword-crossed.png"
                        alt="Combat Classique"
                    />
                    <button (click)="selectMode('Combat classique')" [ngClass]="{ active: selectedMode === 'Combat classique' }">
                        Combat Classique
                    </button>
                </div>
                <div class="mode-option">
                    <img src="https://lasertag.com.au/upload/modules/Badge-Capture-the-Flag-Game.jpg" alt="Capture de Drapeau" />
                    <button (click)="selectMode('Capture de drapeau')" [ngClass]="{ active: selectedMode === 'Capture de drapeau' }">
                        Capture de Drapeau
                    </button>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="header-container">
                <button (click)="homeButton()" class="home-button" routerLink="/home">🏠</button>
                <h1>Liste des jeux : {{ this.selectedMode }}</h1>
            </div>
            <div>
                @if(getFilteredGames().length > 0){
                <ul class="game-list">
                    <li *ngFor="let game of getFilteredGames()" class="game-item">
                        <div class="game-box">
                            <img [src]="game.imageUrl" alt="{{ game.name }}" class="game-image" />
                            <div class="game-details">
                                <h2>{{ game.name }}</h2>
                                <p>Taille de la carte: {{ game.size }}</p>
                            </div>
                            <button (click)="selectGame(game)" routerLink="/game-page">Créer une partie de :<br />{{ game.name }}</button>
                        </div>
                    </li>
                </ul>
                } @else {
                <p>Aucun jeu disponible pour le mode sélectionné.</p>
                }
            </div>
            @if(gameStatus){
            <div class="alert alert-warning">{{ gameStatus }}</div>
            }
        </div>
    </body>
</html>
