<div class="glob">
    <h1>Création de personnage - League of Versions</h1>
    <form (ngSubmit)="createCharacter()" (keydown.enter)="$event.preventDefault()">
        <app-character-form></app-character-form>
        <app-avatar-selection></app-avatar-selection>
        <app-attributes></app-attributes>
        @if(characterStatus) {
        <div id="message">{{ characterStatus }}</div>
        }
        <div class="button-create-character">
            <button id="back" type="button" (click)="openModal()">Retour à la sélection de jeu</button>
            <button id="create" type="submit">Créer le personnage</button>
        </div>
    </form>
    @if(isModalOpen) {
    <app-modal
        [title]="'Êtes-vous sûr de vouloir retourner à la sélection de jeu ?'"
        [message]="'(la création de votre avatar sera perdu)'"
        [confirmText]="'Oui'"
        [cancelText]="'Non'"
        (confirm)="confirmBack()"
        (cancel)="closeModal()"
    ></app-modal>
    }
</div>
