@import 'src/_variables.scss';

.glob{
    background-color: $background;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

button {
    background-color: $primary;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

button:hover {
    border-color: black;
}

#life,
#speed {
    height: 55px;
    width: 100px;
}

#create {
    background-color: $primary;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#create:hover {
    border-color: black;
}

.info-char input {
    width: 100px;
    text-align: center;
}

.info-char {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: $primary-light;
    background-color: $primary-dark;
    border-radius: 5px;
    padding: 10px;
}

#message {
    color: rgb(182, 16, 16);
}

#label {
    color: $primary-light;
    background-color: $primary-dark;
    border-radius: 5px;
    padding: 10px;
}

#select {
    padding: 5px;
}

#bonus {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.button-create-character {
    width:50%;
    display: flex;
    justify-content: space-between;
}
