@import 'src/_variables.scss';
#page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    #side-menu {
        display: flex;
        flex-direction: column;
        min-width: 23%;
        max-width: 26%;
        height: auto;
        background-color: $primary-dark;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: darken($primary-dark, 10%) lighten($primary-dark, 3%);
        padding: 10px;

        .dark-button {
            font-size: 150%;
        }
    }

    #map-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        //devinart.com Al-Proto
        background-image: url(https://cdn.discordapp.com/attachments/1281617944333389887/1287094903712649367/image.jpg?ex=66f2ef0a&is=66f19d8a&hm=2f5e024dc85175cd193cdc154a7172ef1000f88a0dd66d71e9765b584144c324&);
        background-size: cover;
    }
}
