<div id="page-container">
    <div id="side-menu">
        <button id="go-back-button" routerLink="/home">Back</button>
        <p id="title">Tiles</p>
        <div class="list-container">
            @for (tile of gridType; track tile){
            <app-tile [tile]="tile"></app-tile>
            }
        </div>
        <p id="title">Items</p>
        <div class="list-container">
            @for (item of itemTypes; track item){
            <app-item [item]="item"></app-item>
            }
        </div>
    </div>

    <app-map id="map-container"></app-map>
</div>
