#page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    #side-menu {
        min-width: 25%;
        max-width: 30%;
        height: auto;
        background-color: red;
    }

    #map-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;

        #map {
            aspect-ratio: 1/1;
            background-color: blue;
        }
    }
}
