<div id="page-container">
    <div id="side-menu">
        <button id="go-back-button" routerLink="/home">Back</button>
        <p id="title">Tiles</p>
        <div class="list-container">
            @for (tile of gridType; track tile){
            <app-tile-component [tile]="tile"></app-tile-component>
            }
        </div>
        <p id="title">Items</p>
        <div class="list-container">
            @for (item of itemTypes; track item){
            <div class="tile" [style.background-image]="'url(' + item.imageUrl + ')'">
                <p>{{ item.name }}</p>
            </div>
            }
        </div>
    </div>

    <app-map id="map-container"></app-map>
</div>
