#page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;

    #first-rectangle {
        min-width: 400px;
        height: auto;
        background-color: red;
    }
    #second-rectangle {
        aspect-ratio: 1/1;
        background-color: blue;
    }
}

