<div
    id="map"
    [style.--grid-size]="grid.length"
    [style.--tile-size]="100 / grid.length + '%'"
    (mouseenter)="onMouseMapEnter()"
    (mouseleave)="onMouseMapLeave()"
>
    @for(row of grid; track row; let i = $index){ @for(tile of row; track tile; let j = $index){
    <div class="tile-container">
        <app-placeable-entity
            [placeableEntity]="tile"
            class="layer-1"
            (mousedown)="onMouseDown($event, tile)"
            (mouseenter)="onMouseEnter(tile)"
            (mousemove)="onMouseMove(tile)"
            (mouseup)="onMouseUp(tile)"
            (mouseleave)="onMouseLeave(tile)"
            (contextmenu)="onContextMenu($event)"
            [matTooltip]="tile.isTerrain() ? getTerrainItem(tile)?.description : ''"
        ></app-placeable-entity>
        @if (tile.isTerrain()) {
        <app-placeable-entity [placeableEntity]="getTerrainItem(tile)" class="layer-2"></app-placeable-entity>
        }
        <app-visible-state [visibleState]="tile.visibleState" class="layer-3"></app-visible-state>
    </div>
    } }
</div>
