<div id="map" [style.--grid-size]="mapEditorManagerService.grid.length" [style.--tile-size]="100 / mapEditorManagerService.grid.length + '%'">
    @for(row of mapEditorManagerService.grid; track row; let i = $index){ @for(tile of row; track tile; let j = $index){
    <div class="tile-container">
        <app-placeable-entity
            [placeableEntity]="tile"
            class="layer-1"
            (click)="mapEditorManagerService.onMouseDownMapTile(tile)"
            (mouseenter)="mapEditorManagerService.onMouseEnter(tile)"
            (mousemove)="mapEditorManagerService.onMouseMoveMapTile(tile)"
            (mouseup)="mapEditorManagerService.onMouseUpMapTile()"
            (mouseleave)="mapEditorManagerService.onMouseLeave(tile)"
        ></app-placeable-entity>
        @if (mapEditorManagerService.isTerrainTile(tile)) {
        <app-placeable-entity [placeableEntity]="tile.item" class="layer-2"></app-placeable-entity>
        }
        <app-visible-state [placeableEntity]="tile" class="layer-3"></app-visible-state>
    </div>
    } }
</div>
