<div id="map" [style.--grid-size]="mapEditorManagerService.grid.length" [style.--tile-size]="100 / mapEditorManagerService.grid.length + '%'">
    @for(row of mapEditorManagerService.grid; track row; let i = $index){ @for(tile of row; track tile; let j = $index){
    <app-placeable-entity [placeableEntity]="tile" (click)="onTileClick(tile)"></app-placeable-entity>
    @if (isTerrainTile(tile)) {
    <app-placeable-entity [placeableEntity]="tile.item" class="layer-2"></app-placeable-entity>
    } } }
</div>
