<div class="container">
    <div class="header-container">
        <button (click)="homeButton()" id="home-button" class="dark-button" routerLink="/home">Retour</button>
        <h1>Liste des jeux : {{ this.selectedMode }}</h1>
    </div>
    <div>
        @if(getFilteredGames().length > 0){
        <ul class="game-list">
            @for(game of getFilteredGames(); track game) {
            <li class="game-item">
                <div class="game-box">
                    <app-map class="map-container" [grid]="loadedTiles[getFilteredGames().indexOf(game)]"></app-map>
                    <div class="game-details">
                        <h2>{{ game.name }}</h2>
                        <p>Taille de la carte: {{ game.size }}</p>
                        <div class="description">Description: {{ game.description }}</div>
                    </div>
                    <button class="dark-button" (click)="selectGame(game)" routerLink="/game-page">Créer une partie de :<br />{{ game.name }}</button>
                </div>
            </li>
            }
        </ul>
        } @else(){
        <p class="no-game">Aucun jeu disponible pour le mode sélectionné.</p>
        }
    </div>
    @if(gameStatus){
    <app-modal-one-option [title]="'Erreur'" [message]="gameStatus" [confirmText]="'Fermer'" (confirm)="confirmBack()"></app-modal-one-option>
    }
</div>
