@import 'src/_variables.scss';

.header-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#home-button {
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 2%;
}

.home-button:hover {
    border-color: black;
}

.game-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.map-container {
    width: 250px;
    margin-right: 20px;
    flex-shrink: 0;
    transform-origin: center;
}

.game-item {
    display: flex;
    justify-content: center;
    height: auto;
}

.game-box {
    display: grid;
    grid-template-areas:
        'image details'
        'button button';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #4f5d75;
    width: 100%;
    position: relative;
}

.game-image {
    grid-area: image;
    width: 100%;
    height: 100px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.game-details {
    color: #fff;
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
    position: relative;
}

.game-details h2 {
    margin: 0;
    font-size: 1.2em;
}

.game-details p {
    margin: 5px 0;
}

.game-box button {
    grid-area: button;
}
.description {
    opacity: 0;
    position: absolute;
    transform: translateX(100%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
    font-size: 0.7rem;
    background-color: darken($primary-dark, 10%);
    color: $primary-light;
    padding: 5px 10px;
    box-shadow: 0 4px 8px black; 
  
    white-space: normal;
    overflow: visible;
    word-wrap: break-word;
    word-break: break-all;
}

.map-container:hover ~ .game-details .description {
    opacity: 1; 
    visibility: visible;
    transform: translateX(0);
}

p.no-game {
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}
