@import 'src/_variables.scss';

.header-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.home-button {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
}

.home-button:hover {
    border-color: black;
}

// liste de jeux
.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
}

.game-item {
    display: flex;
    justify-content: center;
    height:auto;
}

.game-box {
    display: grid;
    grid-template-areas: 
        "image details"
        "button button";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}

.game-image {
    grid-area: image;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.game-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-details h2 {
    margin: 0;
    font-size: 1.2em;
}

.game-details p {
    margin: 5px 0;
}

.game-box button {
    grid-area: button;
    background-color: $primary;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.game-box button:hover {
    border-color: black;
}
