<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="waiting-view.component.scss" />
    </head>
    <body>
        <div class="waiting-room">
            <h1>Attente de partie - League of Versions</h1>
            <h2>Code d'accès : {{ accessCode }}</h2>

            <div class="players-list">
                <h3>Joueurs :</h3>
                <ul>
                    @for(player of players; track player) {
                    <li [ngClass]="{ organizer: player === this.organizerCharacter }">
                        <span>{{ player.name }}</span>
                    </li>
                    }
                </ul>
            </div>
            @if(this.organizerCharacter.isOrganizer) {
            <div>
                <button class="dark-button" type="button" (click)="addVirtualPlayers()" [disabled]="isMaxPlayer">Ajouter un joueur virtuel</button>
            </div>
            } @if (isMaxPlayer) {
            <div class="error">{{ maxPlayerMessage }}</div>
            }
            <div>
                <button class="dark-button" type="button" (click)="playerLeave()">Quitter la partie</button>
            </div>
            <app-clavardage></app-clavardage>
        </div>
    </body>
</html>
