@import 'src/_variables.scss';

.attributes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: $primary-light;
    background-color: $primary-dark;
    padding: 10px;
    border: 5px solid #000;

    h3 {
        color: $primary-light;
    }
}
.attribute input {
    width: 70px;
    text-align: center;
}
.attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: $secondary;
    padding: 10px;
    justify-content: space-around;
}

button[disabled] {
    background-color: $secondary;
    cursor: not-allowed;
    border: 2px solid $secondary;
}

.large-emojis option {
    font-size: 1em;
}
.large-emojis {
    font-size: 1em;
    height: auto;
}

#description {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 10px;
    border: 1px solid #000;
    justify-content: space-around;
}

select {
    background-color: darken($primary-dark, 10%);
    color: $primary-light;
}

select:hover {
    background-color: darken($primary-dark, 20%);
}

.life-emoji {
    width: 30px;
    height: 30px;
}

.armour-emoji {
    width: 40px;
    height: 40px;
}

.speed-emoji {
    width: 40px;
    height: 40px;
}

.attack-emoji {
    width: 40px;
    height: 40px;
}

.attributes-container {
    width: 1000px;
    height: 1000px;
    background-color: $primary-dark;
    .attribute-container {
        display: flex;
        flex-direction: row;
        background-color: $secondary;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid darken($primary-dark, 10);
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        .container {
            align-items: center;
        }
    }
}

.dark-button {
    margin: 10px;
}
.icon-container {
    display: inline-block;
    margin-right: 2px;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
