@import 'src/_variables.scss';

#total-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 100%;
    background-color: $primary-dark;
}

.attributes {
    display: flex;
    justify-content: space-between;
    gap: 5vh;
    color: $primary-light;
    background-color: $primary-dark;
    padding: 1vh;
    border: 0.5vh solid #000;
    height: 20vh; 
    width: 45vh; 

    h3 {
        color: $primary-light;
    }
}

.attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: $secondary;
    padding: 1vh;
    justify-content: space-around;
    width: 15vh; /* Adjusted to be viewport height-based */
    height: 15vh; /* Consistent sizing based on viewport height */
}

.block-container {
    display: flex;
    flex-direction: row;
}
.dark-button {
    margin: 0.5vh;
    width: 25vh;
    height: 6vh;
    background-color: $primary-dark;
    color: $primary-light;
    border: 0.2vh solid darken($primary-dark, 10%);
    font-weight: bold;
    transition:
        transform 0.3s,
        background-color 0.3s,
        box-shadow 0.3s;

    &:hover:enabled {
        background-color: lighten($primary-dark, 10%);
    }

    &:active {
        background-color: darken($primary-dark, 10%);
        transform: scale(0.95);
        animation: none; /* Stop animation when button is clicked */
    }

    @keyframes attention {
        0%,
        100% {
            background-color: $primary-dark;
        }
        50% {
            background-color: lighten($primary, 20%);
        }
    }

    &:disabled {
        animation: none;
    }
}
.blinking {
    animation: attention 1s infinite;
}
button[disabled] {
    background-color: lighten($primary-dark, 10%);
    cursor: not-allowed;
    border: 0.2vh solid lighten($primary-dark, 5%);
    color: darken($primary-light, 10%);
}

.large-emojis {
    font-size: 1em;
    align-items: center;
    width: 25vh;
    height: 6vh;
    margin: 0.8vh;
}

#description {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 1vh;
    border: 0.1vh solid #000;
    justify-content: space-around;
}

select {
    background-color: darken($primary-dark, 10%);
    color: $primary-light;
}

select:hover {
    background-color: darken($primary-dark, 20%);
}

.attributes-container {
    width: fit-content;
    height: fit-content;
    background-color: $primary-dark;

    .attribute-container {
        display: flex;
        flex-direction: row;
        background-color: $secondary;
        padding: 1vh;
        border-radius: 0.5vh;
        border: 0.2vh solid darken($primary-dark, 10%);
        justify-content: space-between;
        align-items: center;
        width: 55vh;

        .container {
            align-items: center;
            color: #000;
        }
    }
}

.icon-container {
    display: inline-block;
    margin-right: 0.2vh;
}

.icon {
    width: 3vh;
    height: 3vh;
    vertical-align: middle;
    margin: 0.2vh;
}
.small-icon {
    width: 4vh;
    height: 4vh;
    vertical-align: middle;
}

.dice-container {
    display: flex;
    flex-direction: column;
}
