<p id="title">{{ containerTitle }}</p>
<div class="list-container">
    @for (item of containerItems; track item){
    <div class="entity-container">
        <app-placeable-entity
            class="layer-1"
            [placeableEntity]="item"
            [matTooltip]="item.description"
            (mouseenter)="onMouseEnter(item)"
            (mouseleave)="onMouseLeave(item)"
            (click)="onMouseDown(item)"
            cdkDrag
            (cdkDragStarted)="onDragStarted(item)"
            (cdkDragEnded)="onDragEnded()"
        ></app-placeable-entity>
        <app-visible-state [placeableEntity]="item" class="layer-2"></app-visible-state>
        @if(gameMapDataManager.isItem(item) && item.itemLimit > 0){
        <app-item-limit-counter [currentCount]="item.itemLimit"></app-item-limit-counter>
        }
    </div>
    }
</div>
