<p id="title">{{ containerTitle }}</p>
<div class="list-container">
    @for (item of containerItems; track item){
    <div class="entity-container">
        <app-placeable-entity
            class="layer-1"
            [placeableEntity]="item"
            [matTooltip]="item.description"
            (mouseenter)="onMouseEnter(item)"
            (mouseleave)="onMouseLeave(item)"
            (click)="onMouseDown(item)"
            cdkDrag
            (cdkDragStarted)="onDragStarted(item)"
            (cdkDragEnded)="onDragEnded()"
        ></app-placeable-entity>
        <app-visible-state [placeableEntity]="item" class="layer-2"></app-visible-state>
    </div>
    }
</div>
