<div id="info-container">
    <div id="block-image">
        <img [src]="tileTypeToImage(tile.type)" alt="Tile" />
    </div>
    <div id="info-text">
        <div id="type-info">
            {{ tile.type }}
        </div>
        <div id="tile-info">
            @if(tileMovementCost(tile)){
            <div>Coût: {{ tileMovementCost(tile) }}</div>
            } @else{
            <div>Coût: Non passable</div>
            }
            <div>Effet:{{ tile.description }}</div>
        </div>
    </div>
</div>
