@import 'src/_variables.scss';

.game_list {
    font-size: 2rem;
    color: $primary-light;
    list-style-type: none;
    padding: 0;
}

#title {
    margin: 0;
    font-size: 3rem;
    background-color: $primary-dark;
    // background-image: linear-gradient(to top, $primary-dark 0%, $primary 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.button_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
