<div id="admin-page">
    <div id="admin-header">
        <div id="return-button">
            <button class="dark-button" routerLink="/home">Retour</button>
        </div>
        <h1 id="title">Liste des jeux:</h1>
    </div>
    <ul class="game_list">
        <app-list-game></app-list-game>
    </ul>
    <div class="button_container">
        <button class="dark-button">Importer</button>
        <button class="dark-button" (click)="openCreateGameModal()">Créer un jeu</button>
    </div>
</div>
