<div class="journal">
    <button (click)="showMyEvents = !showMyEvents">
        {{ showMyEvents ? 'Toutes les actions' : 'Mes actions' }}
    </button>

    <div class="journal-container" #journalEvents>
        <ul class="events">
            <li *ngFor="let event of showMyEvents ? filteredEvents : events">
                <div>{{ event.event }}</div>
                <ul>
                    <li *ngFor="let player of event.associatedPlayers">{{ player }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
