
    <!-- Onglets de navigation -->
    <div class="tabs">
        <button (click)="activeTab = 'chat'" [class.active]="activeTab === 'chat'">Chat</button>
        <button (click)="activeTab = 'journal'" [class.active]="activeTab === 'journal'">Journal de jeu</button>
    </div>

    <!-- Contenu des onglets -->
    <div class="tab-content">
        <app-clavardage *ngIf="activeTab === 'chat'"></app-clavardage>
        <div class="journal" *ngIf="activeTab === 'journal'">Journal de bord</div>
    </div>

