<div class="container justified">
    <img id="logo" src="assets/images/logo.png" alt="Project Logo" />
    <section id="server-message" class="justified">
        <div class="justified">
            <button class="button" routerLink="/join-game">Joindre une partie</button>
            <button class="button" routerLink="/create-game">Créer une partie</button>
            <button class="button" routerLink="/administration-game">Administrer les jeux</button>
            <button class="button" routerLink="/play-page">Jouer jeu (A enlever)</button>
        </div>
    </section>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 104</h4>
        <p>
            <span>Pablo Cabale</span>, <span>Irem Yildiz</span>, <span>Nihal Taih</span>, <span>Sidali Boukhezar</span>,
            <span>Nicolas Bilodeau</span>, <span>Issam Haddadi</span>
        </p>
    </footer>
</div>
