@import 'src/_variables.scss';
.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 13px;
    background-color: $primary-dark;
    color: white;
    border: 1px solid $primary-light;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darken($primary-dark, 10%);
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: $primary-light;
}

.header-item {
    justify-content: center;
    text-align: center;
}

#logo {
    width: 800px;
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 100px;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: $primary-light;
}
.footer-item p :nth-child(odd) {
    color: $primary-light;
}
