@import 'src/_variables.scss';

#modal-container {
    display: flex;
    flex-direction: column;
    background-color: $primary-dark;
    color: $primary-light;
    padding: 10px;
    height: auto;

    #modal-title {
        align-self: center;
        font-size: 150%;
    }

    form {
        margin-top: 20px;
        margin-bottom: 20px;

        mat-form-field {
            width: 100%;
            margin-top: 10px;

            mat-error {
                color: $primary-light;
                font-size: 50%;
            }

            input,
            textarea {
                color: darken($primary-dark, 30); // Set input and textarea text color
            }

            textarea {
                resize: none; // Disable resizing for the textarea
            }
        }
    }

    #modal-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dark-button:disabled {
        background-color: darken($primary-light, 50%);
    }

    #button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #saveButton {
        margin-right: 10px;
        background-color: darken($secondary, 10%);
        
        &:hover {
            background-color: lighten($secondary, 10%);
        }
    }
}
