@import 'src/_variables.scss';

.navbar-modes {
    background-color: $primary-dark;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.mode-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.mode-option img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border: 5px solid #000;
}

// .navbar-modes button {
//     background-color: #444;
//     color: white;
//     border: none;
//     padding: 10px 20px;
//     margin: 0 5px;
//     cursor: pointer;
// }

// .navbar-modes button:hover {
//     background-color: #555;
// }

// .navbar-modes button.active {
//     background-color: #007bff;
//     color: white;
// }
