<div class="navbar-modes">
    <div class="mode-option">
        <img src="assets/images/view/fighting_swords.jpg" alt="Combat Classique" />
        <button (click)="selectMode(gameMode.Classique)" [ngClass]="{ active: selectedMode === gameMode.Classique }">Combat Classique</button>
    </div>
    <div class="mode-option">
        <img src="assets/images/view/Badge-Capture-the-Flag-Game.jpg" alt="Capture de Drapeau" />
        <button (click)="selectMode(gameMode.CTF)" [ngClass]="{ active: selectedMode === gameMode.CTF }">Capture de Drapeau</button>
    </div>
</div>
