@import 'src/_variables.scss';

.avatar-selection {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: $primary-dark;
    border: 5px solid #000;
}

.text {
    color: $primary-light;
    font-size: 1.5rem;
    margin: 10;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    font-size: 0.5rem;
}

.avatar-item {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 5px;
    justify-content: center;
    text-align: center;
    transition: border-color 0.3s;
    justify-content: center;
    color: $primary-light;
    font-size: 0.5rem;

}

.avatar-item:hover {
    border-color: $secondary;
}

.avatar-item img {
    width: 50px;
    height: auto;
    display: block;
}

.selected-avatar img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.selected-avatar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
