<div class="info-char">
    <label id="avatar-label" for="avatar">Avatar : </label>
    <div class="avatar-selection">
        <div class="avatar-grid">
            @for(avatar of avatarList; track avatar) {
            <div class="avatar-item" (click)="selectAvatar(avatar)">
                <img [src]="avatar.headImage" [alt]="avatar.name" [class.selected]="character.avatar === avatar" />
                <small>{{ avatar.name }}</small>
            </div>
            }
        </div>
        <div class="selected-avatar">
            @if(character.avatar){
            <img [src]="character.avatar.fullImage" [alt]="character.avatar.name" />
            <p class="text">{{ character.avatar.name }}</p>
            } @else{
            <p class="text">Choisissez<br />votre avatar</p>
            }
        </div>
    </div>
</div>
