@import 'src/_variables.scss';
.info-char {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; 
    background-color: $primary-dark;
    max-width: fit-content; 
    height: 100%;
    padding-right: 15px;
    overflow: hidden;
}
.avatar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    app-character-form {
        margin-left: 3.5svh;
        justify-content: center;
        align-items: center;
    }

    .avatar-selection {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

#avatar-label {
    font-size: 1.5rem;
    padding-top: 10%;
}

.text {
    color: $primary-light;
    font-size: 1.5rem;
    margin: 10;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    font-size: 0.5rem;
}

.avatar-item {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 5px;
    justify-content: center;
    text-align: center;
    transition: border-color 0.3s;
    justify-content: center;
    color: $primary-light;
    font-size: 0.5rem;
}

.avatar-item:hover {
    border-color: $secondary;
}

.avatar-item {
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    transition:
        border-color 0.3s,
        transform 0.3s,
        color 0.3s;
    justify-content: center;
    color: $primary-light;
    font-size: 0.5rem;
}

.avatar-item img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
}

.avatar-item:hover img {
    transform: scale(1.2);
}

.avatar-item:hover #avatar-name {
    color: $secondary;
}

#avatar-name {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    color: $primary-light;
}

.division {
    height: 70vh;
    width: 2px;
    background-color: darken($primary-dark, 10%);
}

.selected-avatar-text {
    color: $secondary;
}
.selected-avatar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $primary-light;
    border: 2px solid darken($primary-dark, 10);
    border-radius: 8px;
    margin: 20px;
}
.selected-avatar img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    padding-top: 20px;
}
