@import 'src/_variables.scss';

.info-game {
    display: flex;
    flex-direction: column;
    background-color: $primary-dark;
    margin-left: 25px;
    width: 280px;
    height: 155px;

    h3 {
        color: $primary-light;
        margin-bottom: 2px;
        font-size: 20px;
        color: $secondary;
    }
    .infos {
        color: $primary-light;
        font-size: 15px;
        text-align: left;
        line-height: 0.5;
    }
    #player-name {
        color: lighten($secondary, 20%);
    }
}
