@import 'src/_variables.scss';

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

#life,
#speed {
    height: 55px;
    width: 100px;
}

.info-char {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: $primary-light;
    background-color: $primary-dark;
    border-radius: 5px;
    padding: 10px;
}

#message {
    color: rgb(182, 16, 16);
}

#label {
    color: $primary-light;
    background-color: $primary-dark;
    border-radius: 5px;
    padding: 10px;
}

#select {
    padding: 5px;
}

#bonus {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.button-create-character {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
