@import 'src/_variables.scss';

#info-container {
    position: relative;
    .close-button {
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: 1;
        width: 20px;
        height: 20px;
        background-color: $primary-light;
        color: $primary-dark;
        border: none;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }
}
