<div id="info-view" [ngStyle]="{ transform: 'scale(' + scale + ')' }">
    <div *ngIf="showButton">
        <button class="close-button" (click)="closePanel()">×</button>
    </div>
    <div class="info-content">
        <div class="player-info">{{ playerCharacter.name }}</div>
        <div class="player-info-details">
            Santé:
            <span *ngFor="let _ of healthArray" class="icon-container">
                <img src="assets/images/heart.png" alt="Heart" class="icon" />
            </span>
            <br />
            Défense {{ defenseDice }}:
            <span *ngFor="let _ of defenseArray" class="icon-container">
                <img src="assets/images/armor.png" alt="Armor" class="icon" />
            </span>
            <br />
            Vitesse:
            <span *ngFor="let _ of speedArray" class="icon-container">
                <img src="assets/images/view/boots.png" alt="Speed" class="icon" />
            </span>
            <br />
            Attaque {{ attackDice }}:
            <span *ngFor="let _ of attackArray" class="icon-container">
                <img src="assets/images/view/sword.png" alt="Attack" class="icon" />
            </span>
            <br />
            Points restants: {{ this.playerCharacter.attributes.life }} / {{ totalLife }}
            <br />
            actions restantes: {{ actionPoints }}
        </div>
    </div>
    <div id="player-image">
        <img [src]="playerCharacter.avatar.fullImage" alt="Player" />
    </div>
</div>
