<body>
    <button class="back-button" (click)="goHome()">Retour</button>

    <div class="container">
        <div class="join-game">
            <h1>Rejoindre une Partie</h1>

            <div class="form-group">
                <label for="accessCode">Entrez le code d'accès</label>
                <input
                    name="accessCode"
                    [(ngModel)]="accessCode"
                    id="accessCode"
                    type="number"
                    placeholder="Entrez le code"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    maxlength="4"
                    (keypress)="allowOnlyNumbers($event)"
                />
            </div>
            @if(this.accessCode){
            <button class="dark-button" (click)="joinGame()">Rejoindre la Partie</button>
            }
        </div>
    </div>
</body>
