<div id="page-container">
    @if(playGameBoardManagerService.getWinnerPlayer()) {
    <app-win-panel id="win-panel" [winner]="playGameBoardManagerService.getWinnerPlayer()"></app-win-panel>
    }
    <div id="side-menu">
        <app-play-game-side-view-bar
            id="side"
            [playerCharacter]="this.myPlayer!"
            [currentPlayerName]="playGameBoardManagerService.getCurrentPlayerTurnName()"
            [actionPoints]="playGameBoardManagerService.userCurrentActionPoints"
            [movementPoints]="playGameBoardManagerService.userCurrentMovePoints"
            [gameSize]="gameMapDataManagerService.gameSize()"
            [players]="this.players"
        >
        </app-play-game-side-view-bar>
    </div>
    <div id="map-wrapper">
        @if(battleManagerService.opponentPlayer) {
        <app-fight-view id="fight-comp"></app-fight-view>
        }

        <app-map
            id="map-container"
            [grid]="playGameBoardManagerService.getCurrentGrid()"
            (mapTileMouseDown)="onMapTileMouseDown($event.event, $event.tile)"
            (mapTileMouseEnter)="onMapTileMouseEnter($event)"
            (mapTileMouseLeave)="onMapTileMouseLeave($event)"
        ></app-map>

        <app-timer
            [playerTurnName]="playGameBoardManagerService.getCurrentPlayerTurnName()"
            [seconds]="playGameBoardManagerService.currentTime"
            [isBattle]="playGameBoardManagerService.areOtherPlayersInBattle"
        ></app-timer>

        @if (playPageMouseHandlerService.rightSelectedTile) {
        <app-info-panel id="info-container" [tile]="playPageMouseHandlerService.rightSelectedTile" (close)="closeTileInfoPanel()"></app-info-panel>
        }

        <div class="action-container">
            <app-item-list-container [containerItems]="playGameBoardManagerService.getCurrentPlayerCharacter()?.inventory"></app-item-list-container>

            <div class="button-container">
                @if(this.playGameBoardManagerService.isUserTurn) { @if(playGameBoardManagerService.possibleItems.length === 0) {
                <button class="action-button" (click)="toggleAction()">Action</button>
                }

                <button class="action-button" (click)="endTurn()">Fin de tour</button>
                }
                <button class="action-button" (click)="leaveGame()">Abandon</button>
            </div>
        </div>

        @if(playGameBoardManagerService.possibleItems.length > 0) {
        <app-item-list-container [containerItems]="playGameBoardManagerService.possibleItems" (itemClicked)="itemThrow($event)"></app-item-list-container>
        }
    </div>
</div>
