<div id="page-container">
    <div id="side-menu">
        <app-infos-game [game]="playGameBoardManagerService.getCurrentGrid()"></app-infos-game>
        <app-player-map-entity-info-view [showButton]="false" [playerCharacter]="currentPlayer!"></app-player-map-entity-info-view>
        <app-players-list [players]="players"></app-players-list>
        <!-- <div class="chat">
            <h3>Clavardage</h3>
            <textarea placeholder="Entrez votre message ici..."></textarea>
        </div> -->
        <app-clavardage></app-clavardage>
        <button class="dark-button" routerLink="/home">Retour</button>
    </div>
    <div id="map-wrapper">
        <app-map
            id="map-container"
            [grid]="playGameBoardManagerService.getCurrentGrid()"
            (mapTileMouseDown)="onMapTileMouseDown($event.event, $event.tile)"
        ></app-map>

        <app-timer
            [playerTurnName]="playGameBoardManagerService.getCurrentPlayerTurnName()"
            [seconds]="playGameBoardManagerService.currentTime"
            [isBattle]="playGameBoardManagerService.isBattleOn"
        ></app-timer>

        @if(playPageMouseHandlerService.rightClickSelectedPlayerCharacter) {
        <app-player-map-entity-info-view
            [playerCharacter]="playPageMouseHandlerService.rightClickSelectedPlayerCharacter!"
            (close)="closePlayerInfoPanel()"
            id="info-panel"
        ></app-player-map-entity-info-view>
        } @if (playPageMouseHandlerService.rightSelectedTile) {
        <app-map-tile-info id="info-panel" [tile]="playPageMouseHandlerService.rightSelectedTile!" (close)="closeTileInfoPanel()"></app-map-tile-info>
        }

        <div class="action-container">
            <app-container></app-container>

            <div class="button-container">
                <button class="action-button">Action</button>
                <button class="action-button">Abandon</button>
                <button class="action-button" onclick="endTurn()">Fin de tour</button>
            </div>
        </div>
    </div>
</div>
