@import 'src/_variables.scss';

#page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    #side-menu {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        max-width: 25%;
        height: 100%;
        background-color: $primary-dark;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: darken($primary-dark, 10%) lighten($primary-dark, 3%);
        padding: 10px;

        .dark-button {
            font-size: 150%;
        }
    }

    #map-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100vh;
        overflow: hidden;

        #map-container {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            position: relative;
        }

        #fight-comp {
            position: absolute;
            top: 50%; // Center it vertically in the viewport
            left: 50%; // Center it horizontally in the viewport
            transform: translate(-50%, -50%); // Centering transform
            z-index: 20; // Higher z-index to ensure it appears above other elements
            width: 80%; // Set width as needed for a larger display
            max-width: 600px;
            background-color: $primary-light;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        #info-container {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 360px;
            padding: 10px;
            background-color: $primary-dark;
            border: 2px solid darken($primary-dark, 10%);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            z-index: 10;
        }
    }

    .action-container {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .button-container {
            display: flex;
            margin-left: auto;

            .action-button {
                margin-left: 10px;
                padding: 10px 15px;
                background-color: $primary-dark;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($primary-dark, 10%);
                }
            }
        }
    }
}
