<div id="page-container">
    <div id="side-menu">
        <button class="dark-button" (click)="leaveGame()">Sortir</button>
        <app-player-map-entity-info-view
            [scale]="1.25"
            [showButton]="false"
            [playerCharacter]="mainPlayer!"
            (close)="closePlayerInfoPanel()"
        ></app-player-map-entity-info-view>
        <app-players-list></app-players-list>
    </div>
    <div id="map-wrapper">
        <app-map
            id="map-container"
            [grid]="playGameBoardManagerService.getCurrentGrid()"
            (mapTileMouseDown)="onMapTileMouseDown($event.event, $event.tile)"
            (mapTileMouseEnter)="onMapTileMouseEnter($event)"
            (mapTileMouseLeave)="onMapTileMouseLeave($event)"
        ></app-map>

        <app-timer
            [playerTurnName]="playGameBoardManagerService.getCurrentPlayerTurnName()"
            [seconds]="playGameBoardManagerService.currentTime"
            [isBattle]="playGameBoardManagerService.isBattleOn"
        ></app-timer>

        @if(playPageMouseHandlerService.rightClickSelectedPlayerCharacter) {
        <app-player-map-entity-info-view
            [playerCharacter]="playPageMouseHandlerService.rightClickSelectedPlayerCharacter!"
            (close)="closePlayerInfoPanel()"
            id="info-panel"
        ></app-player-map-entity-info-view>
        } @if (playPageMouseHandlerService.rightSelectedTile) {
        <app-map-tile-info id="info-panel" [tile]="playPageMouseHandlerService.rightSelectedTile!" (close)="closeTileInfoPanel()"></app-map-tile-info>
        }

        <div class="action-container">
            <div class="button-container">
                <button class="action-button">Action</button>
                <button class="action-button">Abandon</button>
                <button class="action-button" (click)="endTurn()">Fin de tour</button>
            </div>
        </div>
    </div>
</div>
