@import 'src/_variables.scss';

#page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    #side-menu {
        display: flex;
        flex-direction: column;
        flex-basis: 25%; // Take up 25% of the viewport width
        max-width: 25%;
        height: 100%; // Fill the full height of the viewport
        background-color: $primary-dark;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: darken($primary-dark, 10%) lighten($primary-dark, 3%);
        padding: 10px;

        .dark-button {
            font-size: 150%;
        }
    }

    #map-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1; // Allow the map wrapper to expand and take remaining space
        height: 100vh; // Make the map wrapper occupy full height
        overflow: hidden; // Hide overflow to prevent scrollbars

        #map-container {
            flex-grow: 1; // Allow the map container to expand to fill available space
            display: flex;
            justify-content: center;
            position: relative; // Allow absolute positioning of overlays
        }

        #info-container {
            position: absolute;
            top: 20px; // Position near the top of the map
            right: 900px; // Align to the right edge of the map
            width: 360px;
            padding: 10px;
            background-color: $primary-dark;
            border: 2px solid darken($primary-dark, 10%);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            z-index: 10;
        }
    }

    .action-container {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .containers {
            display: flex;
            padding-left: 10px;

            app-placeable-entity-container {
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .button-container {
            display: flex;
            margin-left: auto; // Push buttons to the far right of the container

            .action-button {
                margin-left: 10px;
                padding: 10px 15px;
                background-color: $primary-dark;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($primary-dark, 10%);
                }
            }
        }
    }
}
