<div id="info-container">
    <div class="info-content">
        <div class="player-info">{{ playerCharacter.name }}</div>
        <div class="player-info-details">
            Santé:
            <span *ngFor="let _ of healthArray" class="icon-container">
                <img src="assets/images/heart.png" alt="Heart" class="icon" />
            </span>
            <br />
            Défense (<span id="dice">{{ defenseDice }}</span
            >):
            <span *ngFor="let _ of defenseArray" class="icon-container">
                <img src="assets/images/armor.png" alt="Armor" class="icon" />
            </span>
            <br />
            Vitesse:
            <span *ngFor="let _ of speedArray" class="icon-container">
                <img src="assets/images/view/boots.png" alt="Speed" class="icon" />
            </span>
            <br />
            Attaque (<span id="dice">{{ attackDice }}</span
            >):
            <span *ngFor="let _ of attackArray" class="icon-container">
                <img src="assets/images/view/sword.png" alt="Attack" class="icon" />
            </span>
            <br />
            Movement restant: {{ this.playerCharacter.currentMovePoints }} / {{ playerCharacter.attributes.speed }}
            <br />
            Actions restantes: {{ this.playerCharacter.currentActionPoints }}
        </div>
    </div>
    <div id="player-image">
        @if(playerCharacter.avatar) {
        <img [src]="playerCharacter.avatar.fullImage" alt="Player" />
        }
    </div>
</div>
