@import 'src/_variables.scss';
.player-container {
    display: flex;
    align-items: center; /* Aligne l'image et les infos verticalement */
    gap: 5px; /* Espace entre l'image et les infos */
    background-color: darken($primary-dark, 20);
}

img.avatar {
    width: 150px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.player-infos {
    display: flex;
    flex-direction: column;
    text-align: left; /* Aligne le texte des infos à gauche */
    padding: 5px;
    font-size: x-small;
    color: $primary-light;
}
ul li {
    padding: 5px 0; /* Espace de 5px en haut et en bas */
}
