<div id="side-menu">
    <app-side-view-player-info [playerCharacter]="playerCharacter" [actionPoints]="actionPoints" [totalLife]="totalLife"></app-side-view-player-info>
    <div class="division"></div>
    <app-infos-game [currentPlayer]="this.playerCharacter.name" [game]="this.playGameBoardManagerService.getCurrentGrid()"></app-infos-game>
    <div class="division"></div>
    <app-players-list [players]="this.players"></app-players-list>
    <div class="division"></div>
    <app-tab-container></app-tab-container>
</div>
