<div class="navbar-title">Création d'une nouvelle partie:</div>
<app-nav-bar></app-nav-bar>
<div class="selection">
    <div class="size_selection">
        <h4>Sélectionnez une taille</h4>
        <label><input type="radio" name="taille" (click)="selectSize(MAP_SIZES.SMALL)" checked /> Petit : 10 x 10</label>
        <label><input type="radio" name="taille" (click)="selectSize(MAP_SIZES.MEDIUM)" /> Moyen: 15 x 15</label>
        <label><input type="radio" name="taille" (click)="selectSize(MAP_SIZES.LARGE)" /> Grand: 20 x 20</label>
    </div>
    <div class="buttons">
        <button mat-button (click)="onNoClick()">Annuler</button>
        <button mat-button (click)="onCreateClick()">Créer</button>
    </div>
</div>
@if(errorMessage){
<span class="error-message">
    {{ errorMessage }}
</span>
}
